<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Thêm nhân viên
</button>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Thêm nhân viên</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="addNV" method="get">
                    <label for="name" class="form-label">Tên nhân viên:</label>
                    <input type="text" class="form-control" name="nameNV" id="name">
                    <label for="address" class="form-label">Địa chỉ:</label>
                    <input type="text" class="form-control" name="addressNV" id="address">
                    <label for="salary" class="form-label">Lương:</label>
                    <input type="number" class="form-control" name="salaryNV" id="salary">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead >
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Lương</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each dataNV}}
        <tr>
            <th scope="row">{{@index}}</th>
            <td>{{ten}}</td>
            <td>{{diachi}}</td>
            <td>{{luong}}</td>
            <td>
                <form method="get" action="upNV">
                    <button name="idEdit" value={{_id}} class="btn btn-info" type="submit">Sửa</button>
                </form>
                <form method="get" action="deleteNV">
                    <button name="idNV" value={{_id}} class="btn btn-danger" type="submit">Xóa</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>